# Игнорируем всю систему Git
.git/
.gitignore
.dockerignore

# Документация не нужна в образе
README.md

# Виртуальные среды
.venv/
venv/

# Секреты (они должны пробрасываться через env_file, а не копироваться)
.env

# Кэш Python
**/*__pycache__*/
**/*.pyc

# Кэш IDE
.idea/
.vscode/