fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
Pillow
numpy

# --- CPU-only ML-пакеты ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics

# --- Зависимости для моделей ---
huggingface_hub
qrdet
transformers
